# Copyright 2017 Peter Beverloo. All rights reserved.
# Use of this source code is governed by the MIT license, a copy of which can
# be found in the LICENSE file.

RewriteEngine On

# Only allow the portals to be used from secured connections
Header set Strict-Transport-Security "max-age=31536000" env=HTTPS

# URLs used by the client-side application.
RewriteRule ^volunteers/? / [L]
